{% extends 'base/base.html' %}{% load static %}

{% block title %}
    Lista de tareas - TodoApp
{% endblock title %}

{% block content %}
<div class="container">
{% include 'base/header.html' %}   
{% if messages %}
    <div class="alert alert-success" style="text-align: center;">
        {% for m in messages %}
            {{m}}
        {% endfor %}
    </div>
{% endif %}
<div style="padding: 5px;"></div>
<table class="table table-borderless">
    <thead>
      <tr>
        <th>Nombre de la tarea</th>
        <th>Descripcion</th>
        <th>Fecha de creacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for t in todo %}
      <tr>
        <td>{{t.name}}</td>
        <td>{{t.description}}</td>
        <td>{{t.create_at}}</td>
        <td>
            <a href="{% url 'todo_app:update' t.id %}" class="btn btn-warning">Actualizar</a>
            <a href="{% url 'todo_app:delete' t.id %}" class="btn btn-danger">Eliminar</a>
        </td>
      </tr>
    {% empty %}
    <div class="alert alert-danger" style="text-align: center;">
        <strong>No se han creado tareas</strong> 
      </div>
    {% endfor %}
    </tbody>
  </table>
  <hr>
  <div style="padding: 5px;"></div>
    <div style="text-align: left; margin: 0 auto; max-width: 50%;">
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3 mt-3">
                <label class="form-label" >{{field.label}}</label>
                {{field}}
            </div>
            {% endfor %}
            <div style="padding-top: 10px;"></div>
            <button type="submit" class="btn btn-outline-primary">Crear tarea</button>
        </form>
    </div>    
        
</div>
        
{% endblock content %}